<ul id="sidebar" class="sidebar nav nav-stacked">
    <li><a href="#/home">Home</a></li>
    <li><a href="#">Settings</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#/instance/settings">InstanceParams</a></li>
    <li><a href="#/instance/study">Study</a></li>
    <li><a href="#/instance/sites">Sites</a></li>
    <li>
        <a href="#/instance/metadata" type="button" ng-init="isMetadataCollapsed = true"
            ng-click="isMetadataCollapsed = !isMetadataCollapsed">Metadata</a>
        <!--metadata second menu-->
        <div collapse="isMetadataCollapsed" class="">
            <ul class="nav nav-stacked" style="text-indent: 20px">
                <li><a href="#/instance/metadata">Settings</a></li>
                <li><a href="#/instance/metadata">Events</a></li>
                <li><a href="#/instance/metadata">Forms</a></li>
                <li><a href="#/instance/metadata">ItemsDEF</a></li>
                <li><a href="#/instance/metadata">Form-items</a></li>
                <li><a href="#/instance/metadata">Labels file</a></li>
            </ul>
        </div>
    </li>
    <li><a href="#/instance/sites">Patients</a></li>
    <li><a href="#/instance/sites">Form status</a></li>
    <li><a href="#/instance/sites">Patients data </a></li>
</ul>


